
.nav {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 1em;
    }

    li {
        width: calc(100% / 2);
        margin: 0;
        float: left;
        text-align: center;
        font-size: 1.5em;
        border: 1px solid $font-alternative-color;
        background-color: $background-alternative-color;
    }

    a {
        text-decoration: none;
    }

}

@media only screen and (max-width: 600px) {
    .nav {
        width: 100%;

        ul {
            flex-direction: column;
            gap: 0.5em;
        }

        li {
            width: 80%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
