$font-color: rgb(255, 255, 255);
$font-alternative-color: rgb(0, 0, 0);
$accent-color: #ee6c4d;
$background-color: #214269;
$background-alternative-color: rgb(85, 85, 85);
$background-article-color: #102135;
