{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        <div class="gallerycontainer">
            {{ content }}
        </div>
        <iframe title="Star Citizen fan trailer" src="https://www.youtube.com/embed/K2GHMw-UIMY" allowfullscreen></iframe>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>
