@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import '../../node_modules/normalize.css/normalize';
@import 'variables';

@import 'blockquotes';
@import 'code';
@import 'header';
@import 'nav';
@import 'body';
@import 'footer';
@import 'technologies';
@import 'gallery';

@import 'style-light';

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

h1 {
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-family: 'Open Sans', sans-serif;
}

h4 {
    font-family: 'Open Sans', sans-serif;
}

h5 {
    font-family: 'Open Sans', sans-serif;
} 

h6 {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: $background-color-light;
}

* {
    font-family: 'Roboto', sans-serif;
    color: $font-alternative-color;
}
