$font-color: rgb(255, 255, 255);
$font-alternative-color: rgb(0, 0, 0);
$accent-color: #e86c10;
$background-color: #020f47;
$background-alternative-color: #1b2c75;
$background-article-color: #1b2c75;
$background-color-light: rgb(255, 255, 255);
$background-alternative-color-light: rgb(177, 176, 176);
